@model LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gentelella Alela! | </title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true">
    <!-- Font Awesome -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true">
    @*<!-- NProgress -->
        <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">*@
    <!-- Animate.css -->
    <link href="~/css/animate.css" rel="stylesheet" asp-append-version="true" />
    <!-- Custom Theme Style -->
    <link href="~/css/custom.css" rel="stylesheet" asp-append-version="true" />
</head>
<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form asp-action="Login" asp-controller="Account" method="post">

                        <h1>Đăng nhập</h1>
                        <div asp-validation-summary="ModelOnly"></div>
                        <div>
                            <input asp-for="UserName" class="form-control" placeholder="Tài khoản" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div>
                            <input asp-for="PassWord" class="form-control" placeholder="Mật khẩu" />
                            <span asp-validation-for="PassWord" class="text-danger"></span>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-default submit">Đăng nhập</button>
                            @*<a class="btn btn-default submit">Đăng nhập</a>*@
                            <a class="reset_pass" href="#">Quên mật khẩu</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            @*<p class="change_link">
                                    New to site?
                                    <a href="#signup" class="to_register"> Create Account </a>
                                </p>*@
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            @*<div id="register" class="animate form registration_form">
                    <section class="login_content">
                        <form>
                            <h1>Create Account</h1>
                            <div>
                                <input type="text" class="form-control" placeholder="Username" required="" />
                            </div>
                            <div>
                                <input type="email" class="form-control" placeholder="Email" required="" />
                            </div>
                            <div>
                                <input type="password" class="form-control" placeholder="Password" required="" />
                            </div>
                            <div>
                                <a class="btn btn-default submit" href="index.html">Submit</a>
                            </div>
                            <div class="clearfix"></div>
                            <div class="separator">
                                <p class="change_link">
                                    Already a member ?
                                    <a href="#signin" class="to_register"> Log in </a>
                                </p>
                                <div class="clearfix"></div>
                                <br />
                                <div>
                                    <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                    <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>*@
        </div>
    </div>
    <script src="~/lib/jquery/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib//bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
</body>

</html>
