@model ResetPassword;
@{
    ViewData["Title"] = "Khôi phục mật khẩu";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="login_wrapper">
    <div class="animate form login-form">
        <section class="login_content">
            <form asp-controller="Account" asp-action="ConfirmReset" method="post">
                <h1>Khôi phục mật khẩu</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                <div class="text-info">@ViewBag.Message</div>
                }
                <div class="form-group">
                    <input  class="form-control" placeholder="Tài khoản" asp-for="UserName" style="margin:unset" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input  class="form-control" placeholder="Email" asp-for="Email" style="margin:unset" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div>
                    <button class="btn btn-default submit">Khôi phục</button>
                </div>
                <div class="clearfix"></div>
                <div class="separator">
                    @*<p class="change_link">
                            Already a member ?
                            <a href="#signin" class="to_register"> Log in </a>
                        </p>*@
                    <div class="clearfix"></div>
                    <br />
                    <div>
                        <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                        <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

