@model AppUser

    <li class="dropdown pull-right">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            @Model.Email
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <form asp-controller="Account" asp-area="" asp-action="Logout" method="post" id="logout">
                   
                </form>
                <a href="javascript:document.getElementById('logout').submit()">
                    <span class="glyphicon glyphicon-log-out"></span> LogOut
                </a>
            </li>
        </ul>
    </li>
