
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{ 
<script src="~/js/System/user.js"></script>
}

<table class="table table-bordered" id="tblUser">
    <thead>
        <tr>
            <th>Tài Khoản</th>
            <th>Họ và tên</th>
            <th>Giới tính</th>
            <th>Email</th>
            <th>Ảnh đại diện</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

