
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/lib/Chart.js/Chart.min.js"></script>
    <script src="~/js/Report/dairyreport.js"></script>
}
<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2">Từ</label>
        <div class="col-md-4">
            <input type="date" id="dateFrom" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" />

        </div>
        <label class="control-label col-md-2">Tới</label>
        <div class="col-md-4">
            <input type="date" id="dateTo" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
            <input type="button" class="btn btn-primary" onclick="getdata()" value="Lọc" />

        </div>
    </div>
</form>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Phòng</th>
            <th>Tổng ngày làm việc</th>
            <th>Tổng thời gian làm việc (Phút)</th>
            <th>Tỷ lệ</th>
        </tr>
    </thead>
    <tbody id="bdTbl"></tbody>
</table>

<div class="line-bottom-grid">
    <div class="grid_1">
        <h4>Biểu đồ</h4>
        <canvas id="pie1"></canvas>

    </div>
</div>
